Source: ros-noetic-turtlebot3-autorace-camera
Section: misc
Priority: optional
Maintainer: Ashe Kim <ashekim@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-dynamic-reconfigure
Homepage: http://wiki.ros.org/turtlebot3_autorace
Standards-Version: 3.9.2

Package: ros-noetic-turtlebot3-autorace-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-enum34, python-numpy, python-opencv, ros-noetic-cv-bridge, ros-noetic-dynamic-reconfigure, ros-noetic-rospy, ros-noetic-sensor-msgs
Description: TurtleBot3 AutoRace ROS package that controls Raspberry Pi Camera, and process the image
