Source: ros-noetic-turtlebot3-autorace-2020
Section: misc
Priority: optional
Maintainer: Ashe Kim <ashekim@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://wiki.ros.org/turtlebot3_autorace
Standards-Version: 3.9.2

Package: ros-noetic-turtlebot3-autorace-2020
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-turtlebot3-autorace-camera, ros-noetic-turtlebot3-autorace-core, ros-noetic-turtlebot3-autorace-detect, ros-noetic-turtlebot3-autorace-driving, ros-noetic-turtlebot3-autorace-msgs
Description: TurtleBot3 AutoRace 2020 ROS 1 packages (meta package)
